@font-face { font-family: 'icon'; src: url('icons.woff') format('woff'); }
@font-face { font-family: 'roboto'; font-weight: normal; font-style: normal; src: url('roboto.woff') format('woff'); }
@font-face { font-family: 'roboto'; font-weight: bold;   font-style: normal; src: url('roboto_b.woff') format('woff'); }
@font-face { font-family: 'roboto'; font-weight: normal; font-style: italic; src: url('roboto_i.woff') format('woff'); }
@font-face { font-family: 'roboto'; font-weight: lighter; font-style: normal; src: url('roboto_light.woff') format('woff'); }
@font-face { font-family: 'roboto'; font-weight: lighter; font-style: italic; src: url('roboto_light_i.woff') format('woff'); }

html, body { width: 100%; height: 100%; margin: 0; padding: 0; font-family: roboto, Verdana, sans-serif; overflow: hidden; }
* { box-sizing: border-box; margin: 0; }
header, section, nav, footer, aside { display: block; }
a { text-decoration: none; outline: none !important; }
input, select, button { outline: none !important; }
body, header, footer { min-width: 780px; }

header {
	background: #005596;
	top: 0; right: 0; left: 0;
	height: 60px;
	z-index: 2; padding-left: 200px; line-height: 60px; color: #ffffff; font-family: roboto; font-weight: 200; font-size: 28px;
	overflow: hidden;
	border-bottom: 1px solid #002d4f;
	position: absolute;
	background-image: url("../img/busit_white.png");
	background-position: 20px center;
	background-repeat: no-repeat;
	background-size: auto 30px;
	box-shadow: 0 0 5px 2px rgba(100, 100, 100, 0.8);
}

#jsapidoc_ol {
	position: absolute; top: 60px; left: 0; bottom: 0; width: 250px; box-sizing: border-box;
	overflow: auto; margin: 0; padding: 16px; list-style: none; z-index: 1;
	border-right: 1px solid rgba(0,0,0,.14); background-color: #ffffff; color: #939393;
	font-size: 14px; font-weight: 200; font-family: roboto;
}

#jsapidoc_ol > li { min-width: 150px; }
#jsapidoc_ol li { padding: 3px; }
#jsapidoc_ol span { cursor: pointer; display: inline-block; line-height: 14px; }
#jsapidoc_ol > li > span:hover { color: #005596; }
#jsapidoc_ol > li > span:before { content: "\f105"; display: inline-block; margin-right: 8px; font-family: icon; vertical-align: middle; text-align: center; width: 10px; }
#jsapidoc_ol > li.open > span { color: #005596; }
#jsapidoc_ol > li.open > span:before { content: "\f107"; }
#jsapidoc_ol > li > ol { display: none; }
#jsapidoc_ol > li.open > ol { display: block; }
#jsapidoc_ol ol { margin: 8px 24px; padding: 0; list-style: none; border-left: 1px solid #005596; }
#jsapidoc_ol ol li { padding-left: 16px; cursor: pointer; }
#jsapidoc_ol ol li:hover { background-color: rgba(0,85,150,0.1); color: #005596; }
#jsapidoc_ol ol li.selected span { color: #F7941E; }

#jsapidoc_main {
	position: absolute; top: 60px; left: 250px; bottom: 0; right: 0; box-sizing: border-box;
	overflow: auto; margin: 0; padding: 16px 48px 48px 24px; background-color: #fafafa;
	font-weight: 200; font-family: roboto; color: #333333; font-size: 14px;
}
#jsapidoc_main section { clear: both; margin: 16px 0; width: 100%; overflow: auto; }
#jsapidoc_main h1 { font-size: 24px; font-weight: 200; padding: 0 0 8px 0; border-bottom: 1px solid rgba(0,0,0,.14); margin: 0 0 24px 0; color: #005596; }
#jsapidoc_main h2 { font-size: 18px; font-weight: 200; margin: 8px 0; }
#jsapidoc_main table { border-collapse: collapse; width: 100%; }
#jsapidoc_main tbody td, #jsapidoc_main thead th { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 8px 16px; vertical-align: top; }
#jsapidoc_main tbody tr.open td:nth-child(3) { white-space: unset; }
#jsapidoc_main tbody td:nth-child(1) { color: #F7941E; cursor: pointer; text-align: left; }
#jsapidoc_main tbody td:nth-child(2) { text-align: center; }
#jsapidoc_main tbody td:nth-child(3) { width: 100%; max-width: 0; }
#jsapidoc_main thead th { text-align: left; }
#jsapidoc_main thead tr { border-bottom: 1px solid rgba(0,0,0,0.14); background-color: #ffffff; }
#jsapidoc_main tbody tr { border-bottom: 1px solid rgba(0,0,0,0.14); }